<footer class="footer">
    <div class="container bottom-border">
        <div class="row">
<!--Debut Adresse-->
            <div class="col-sm-6 col-md col-12">
                <h5 class="col-white-amrc pt2"> Movies Inc.</h5>
                <p> Hollyshit </p>
                <p> 5th Avenue </p>
                <p> New-York </p>
                <a class="enveloppe" href="mailto:contact@movies.com"><i class="fa fa-envelope mx-1"></i>contact@movies.fr </a>
            </div>
            <!--Debut reseaux sociaux-->
            <div class="col-sm-6 col-md col-12 res">
                    <ul class="reseaux">
                            <a class="text-white"><i class="fa fa-facebook-f mx-3"></i></a>
                            <a class="text-white"><i class="fa fa-instagram mx-3" ></i></a>
                            <a class="text-white"><i class="fa fa-twitter mx-3" ></i></a>
                    </ul>
                </div>

            <div class="col-sm-6 col-md col-12">
                <h5 class="col-white-amrc pt2"> Movies Inc.</h5>
                <p> Team </p>
                <p> Project </p>
                <p> About us </p>
                <p> Get out the way </p>
            </div>
        </div>
    </div>
    <div class="container">
<!--Debut Copyright-->
        <p class="text-center mt-3">Copyright @2019 | Made by The Boss</p>

        
    </div>
</footer>